<!DOCTYPE html>
<html>
<head>
	<title>prime.js</title>
	<script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="javascripts/client.js"></script>
</head>
<body>
	<input id="prime-button" type="button" value="Generate Prime Number" onclick="generatePrime();" />
</body>
</html>